body{
margin: 0;
padding: 0;
}
.contain2{ 
    background-color:rgb(225, 232, 232); 
    margin-top: 200px;
    padding:20px;
    border-radius: 10px;
    line-height: 1.5rem;
}

.container{
    display: flex;
    justify-content: center;

    }

    .contain{
        width: 20%;
        text-align: center;
        font-size: larger;
        /* box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.266); */
        border-radius: 8px;
    }
    
    #log{
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        background: rgb(63, 139, 246);
        border-radius: 5px;
        border: 1px solid rgb(225, 232, 232);
    }    